body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: center;
    padding: 1%;
}


.card-price {
    font-size: 90;
}

.card-title {
    font-size: 100;
    margin: 0.5rem 0;
    text-transform: uppercase;
    
}
.card {
    height: 57vh;
    width: 23vw;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 8px solid black;
    border-radius: 8%;

}

.card-img {
    width: 95%;
    
}

.container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.title {
    text-align: center;
    font-size: 3000%;
}

.firstpic{
    width: 1000;
 
}

.charizard{
    width: 1000;
}

.margikarp{
    width: 1000;
}

.mew{
    width: 1000;
}